[submodule "compressor/SZ3"]
	path = compressor/SZ3
	url = git@github.com:lishaowen0426/SZ3.git
[submodule "compressor/spdlog"]
	path = compressor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "compressor/QASMBench"]
	path = compressor/QASMBench
	url = git@github.com:lishaowen0426/QASMBench.git
[submodule "compressor/TOpt"]
	path = compressor/TOpt
	url = git@github.com:Luke-Heyfron/TOpt.git
	ignore = untracked
[submodule "compressor/zfp"]
	path = compressor/zfp
	url = https://github.com/llnl/zfp.git
[submodule "compressor/MGARD"]
	path = compressor/MGARD
	url = https://github.com/CODARcode/MGARD.git
[submodule "compressor/SPERR"]
	path = compressor/SPERR
	url = https://github.com/NCAR/SPERR.git
[submodule "compressor/fpzip"]
	path = compressor/fpzip
	url = https://github.com/llnl/fpzip.git
