[submodule "compressor/SZ3"]
	path = compressor/SZ3
	url = git@github.com:lishaowen0426/SZ3.git
[submodule "compressor/spdlog"]
	path = compressor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "compressor/QASMBench"]
	path = compressor/QASMBench
	url = git@github.com:lishaowen0426/QASMBench.git
[submodule "compressor/TOpt"]
	path = compressor/TOpt
	url = git@github.com:Luke-Heyfron/TOpt.git
	ignore = untracked
